<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="chat">
	<pre id="chat-log"></pre>
    <input id="input" type="text" placeholder="say something">
    <input id="nick" type="text" placeholder="nickname">
</div>
