<!DOCTYPE html>
<html>
  <head>
    <title>scum irc client</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  	<script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="/js/main.js"></script>
  </head>
  <body>
    <div id="chat">
      <pre id="chat-log"></pre>
        <input id="input" type="text" placeholder="say something">
        <input id="nick" type="text" placeholder="nickname">
    </div>
  </body>
</html>